@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
body{
    font-family: 'Patrick Hand', cursive;
    background: url("./img/fondo.jpg") repeat;
    background-size: cover;
}
.card{
    border: 3px dotted green;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.37);
  background-color: #d1d1c791;
  transform: rotate(-2deg);
}
.title{
    color: rgb(10, 10, 151);
}
.subtitle{
    color: rgb(112, 57, 163);
}

.zine-style {
    border: 3px dotted green;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
    transform: rotate(-1deg);
    background-color: #d1d1c791;
    font-family: 'Patrick Hand', cursive;
    transition: transform 0.2s;
  }
  
  .zine-style:hover {
    transform: rotate(0deg) scale(1.02);
  }
  .content {
    transition: all 0.3s ease;
  }