.skills-page{
    left: 75px;
    color: white;
    line-height: 25px;
    font-size: 15px;
    padding: 0 15%;
    h1{
        font-size: 2em;
        margin-bottom: 20px;
        color: #ffd700;
    }
    a{
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 800px){
    .skills-page{
        left: 80px;
        padding: 0 5%;
        top: 0;
        padding: 0;
        margin: 0;
        width: 80%;
        h1{
            font-size: 1.5em;
        }
    }
}