.skills-page{
    left: 75px;
    color: white;
    line-height: 25px;
    font-size: 15px;
    padding: 0 15%;
    h1{
        font-size: 2em;
        margin-bottom: 20px;
        color: #ffd700;
    }
    a{
        color: white;
        text-decoration: none;
    }
}