.home-page{
    .text-zone{
        position: absolute;
        left: 80px;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1{
        color: #fff;
        font-size: 53px;
        line-height: 53px;
        margin: 0;
        font-weight: 400;
    }
    h2{
        line-height: 30px;
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 22px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1.8s backwards;
    }
    .flat-button{
        color: #ffd700;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 0 10px;    
        border: 1px solid #ffd700;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover{
            border: 3px solid #ffd700;
            color: #fff;
        }
    }
    .picture{
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        img{
            border-radius: 50%;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 800px){
    .home-page{
        .picture{
            display: none;
        }
    }
}